* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 1128px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.basicLightbox {
    background: rgba(46, 47, 66, 0.8) !important;
}

.basicLightbox__placeholder img {
    width: 1122px !important;
    height: 640px !important;
    object-fit: cover !important;
}